<nav aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item">Components</li>
  </ol>
</nav>
<div class="d-flex flex-xl-row flex-column flex-wrap m-auto justify-content-cenetr" style="width: 70%">
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/frames.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Frames
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        A frame is a part of a web page or browser window which displays content independent.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/framespage']">Try it
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/dropdown.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Dropdown
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        The HTML select element represents a control that provides a menu of options.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/dropdownpage']">
        <span>Try it</span>
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/tables_links.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Tables and Links
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        Tables research and data analysis.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/tablesAndLinks']">
        <span>Try it</span>
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/alerts.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Alerts
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        An alert box is often used if you want to make sure information comes through the user.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/alerts']">
        <span>Try it</span>
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/calender.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Calenders
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        The date defines a date picker.
        The resulting value includes the year, month, and day.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/calenderpage']">
        <span>Try it</span>
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/slider.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Sliders
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        Range sliders configure your values.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/sliders']">
        <span>Try it</span>
      </a>
    </div>
  </article>
  <article
    class="d-flex justify-content-cenetr flex-column position-relative border rounded text-center bg-white mx-xl-2 mb-2 p-0"
    style="min-height: 200px;overflow: hidden;flex:0 0 31%">
    <div class="flex-fill">
      <img src="../../assets/images/textarea.svg" class="tileImg" alt="">
    </div>
    <div class="p-2">
      <h5>
        Textarea
      </h5>
      <div class="text-muted pb-2" style="font-size:.8rem">
        The HTML is used to define a multi-line text input control. The size of the HTML textarea is defined by column
        and row attribute.
      </div>
      <a class="btn btn-outline-success" [routerLink]="['/textarea']">
        <span>Try it</span>
      </a>
    </div>
  </article>
</div>